<p>This is used to load stuff into the database</p>


<button mat-raised-button style="margin-left: 5px" (click)="loadAccountIntoDB()"> Load accounts into IndexedDB</button>
<button mat-raised-button style="margin-left: 5px" (click)="loadLocationsIntoDB()"> Load locations into IndexedDB</button>
<button mat-raised-button style="margin-left: 5px" (click)="loadTagsIntoDB()"> Load tags into IndexedDB</button>
<button mat-raised-button style="margin-left: 5px" (click)="loadEventsIntoDB()"> Load events into IndexedDB</button>
