











<mat-toolbar color="primary" fxLayout="center center">

  <div  *ngIf="canGoBack" dir="ltr" fxLayoutAlign="rows">
    <button mat-raised-button (click)="goBack()"> Go Back </button>
  </div>

  <div fxLayoutAlign="center center" style="flex: 1 1 auto;" > <p style="margin-top: 10px; cursor: pointer " routerLink="/main">Singimeet</p></div>

  <div *ngIf="isLoggedin" dir="rtl" fxLayoutAlign="rows">

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="goToProfile()">{{userFullName}} Profile</button>
      <button mat-menu-item (click)="showReservedEvents()">Reserved Events</button>
      <button mat-menu-item (click)="goToCreateEvent()">Create Event</button>
      <button mat-menu-item (click)="logoutUser()">Logout</button>
    </mat-menu>

  </div>

</mat-toolbar>



<router-outlet></router-outlet>




