







<div fxLayoutAlign="center center" fxLayout.lt-md="column" fxLayout="row" fxFlexFill>
  <div fxLayout="column" fxLayout.lt-md="row" >

    <mat-card style="width: 390px;">
      <mat-card-title>Register</mat-card-title>
      <form fxLayout="column" [formGroup]="registerForm">
      <mat-form-field appearance="fill">
        <mat-label>Full Name</mat-label>
        <input formControlName="registerFullName" matInput placeholder="John Doe">
        <mat-error *ngIf="registerForm.get('registerFullName').invalid">{{getFullNameErrorMessage()}}</mat-error>
      </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input formControlName="registerUserEmail" matInput placeholder="John Doe" #regEmail (blur)="checkIfEmailExists(regEmail.value)">
          <mat-error *ngIf="registerForm.get('registerUserEmail').invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input formControlName="registerPassword" matInput type="password" placeholder="">
          <mat-error *ngIf="registerForm.get('registerPassword').invalid">{{getPasswordErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-expansion-panel style="margin-bottom: 20px">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Categories
            </mat-panel-title>
            <mat-panel-description>
              Select some of the categories below
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-chip-list formControlName="selectedCategory" multiple>
            <mat-chip *ngFor="let offer of offers" selectable="true"
                      [selected]="isSelected(offer)"
                      (click)="toggleOffer(offer)">
              {{offer.interests}}
              <mat-icon>{{isSelected(offer) ? "close" : "add"}}</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </mat-expansion-panel>
        <mat-form-field class="example-full-width">
          <input type="text"
                 placeholder="Select your location"
                 aria-label="Number"
                 matInput
                 formControlName="locationInput"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let locations of filteredLocations | async" [value]="locations">
              {{locations}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

      </form>
      <button [disabled]="registerForm.invalid" mat-raised-button (click)="registerUser(registerForm.value)" color="primary" style="width: 100%">Register</button>
    </mat-card>
  </div>
  <div class="line-container" fxLayout="column" fxLayout.lt-md="row">
    <div id="line-before" class="" ></div>
    <div id="line-text" class="line-text">Or</div>
    <div  id="line-after" class="" ></div>
  </div>
  <mat-card >
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <p>Click on the button below to login</p>
    </mat-card-content>
    <button mat-raised-button color="primary" routerLink="/login" style="width: 100%">Login</button>
  </mat-card>
</div>
